*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    // width: 50px;
    // height: 50px;
    // background-color: green;
    position: fixed;
    // transition: top 25ms;
    // top: 50%;
    // transform: translateY(-50%);
}

body{
    overflow: hidden;
}

#space-ship{
    position: absolute;
    background-image: url('../img/rocket.png');
    background-size: contain;
    width: 200px;
    height: 200px;
    top: 10vh;
    transform:rotateZ(90deg);
}


